#back{background:#f5f1e8 url(http://localhost/bg-sand.png) repeat-x top center;min-height:100%;min-width:1024px;position:absolute;width:100%;z-index:-1}
#com{float:left;position:relative}
#content{float:left;padding:1.5em 2% 0 1%;width:70%}
#content h2{font-family:"Open Sans Light",sans-serif;font-size:32px;font-weight:300;position:relative;top:20px}
#content h2.oops{font-family:"Open Sans Light",sans-serif;font-size:32px;font-weight:300;position:relative;top:0px}
#content-wrapper{margin:-40px auto 0;max-width:1025px;min-width:300px}
#footer-wrapper{margin:0 auto;max-width:1025px;min-width:300px;padding:1.5em 3%}
#header-wrapper{margin:0 auto;max-width:1025px;min-width:300px;padding:1.5em 0}
#headerbar{font-family:"Open Sans",sans-serif;margin-right:40px;margin-top:8px;text-decoration:none}
#headerbar ul{float:right;list-style:none;margin-right:25px;text-decoration:none}
#headerbar ul li{float:left;padding:.1em .5em .1em .7em;text-decoration:none}
#headerbar ul li a{color:#484848;font-size:13px;margin-right:16px;margin-top:18px;text-decoration:none;text-transform:uppercase}
#home span.programme {margin-top: -10px;}
#home span.programme, #mitmachen span.programme {font-size:21px !important;}
#home #pllt{margin-top: 28%;}
#navigation{font-family:'Open Sans',sans-serif;font-size:18px;font-weight:300;line-height:72px;margin-bottom:48px;padding-bottom:0;padding-top:0;text-align:center;text-decoration:none}
#navigation a:hover,dl#planet dd a.author:hover,p.planetlink a:hover,.projects-block a:hover,div#mitmachenul a:hover,ul#kontakt a:hover,div.hilfe a:hover{text-decoration:underline}
#navigation ul li{display:inline;margin:0;padding-bottom:12px;padding-top:12px;zoom:1px}
#navigation ul li .aktiv{color:#343434;padding:8px 24px;text-decoration:none}
#navigation ul li:not(:first-child) a,#navigation ul li:not(:first-child) span.aktiv{border-left:1px dotted #d6d6d6;}
#navigation ul li a{display:inline;padding:8px 24px;text-decoration:none;zoom:1px}
#photo{margin:40px 0 20px;text-align:center}
#pllt {float:right;width:25%}
#projects-column{float:left;margin-left:0;margin-top:20px;width:620px}
#projects-column p.intro{color:#484848;margin-top:26px;padding-bottom:12px}
#sachen{color:#fff;font-family:"Open Sans Light",sans-serif;font-size:34px;margin:56px 28px 190px 625px;position:absolute;text-decoration:none;text-shadow:0 1px 0 rgba(72,72,72,0.75);width:400px}
#sidebar{width:220px}
#sidebar h2{font-family:"Open Sans Light",sans-serif;font-size:32px;font-weight:300;padding:0 .2em;top:0}
*{margin:0;padding:0}
* html .clearfix{height:1%}
.aktivitaet{display:none;position:absolute}
.button{-webkit-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);background-image: -ms-linear-gradient(top, #81BC2E 0%, #659C28 100%);background-image: -moz-linear-gradient(top, #81BC2E 0%, #659C28 100%);background-image: -o-linear-gradient(top, #81BC2E 0%, #659C28 100%);background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #81BC2E), color-stop(1, #659C28));background-image: -webkit-linear-gradient(top, #81BC2E 0%, #659C28 100%);background-image: linear-gradient(top, #81BC2E 0%, #659C28 100%);background-color: #81BC2E; -moz-border-radius:.25em;-moz-box-shadow:0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.1);-moz-transition-delay:0;-moz-transition-duration:.25s;-moz-transition-property:0 0 box-shadow;-webkit-border-radius:.25em;-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.1);-webkit-transition-delay:0;-webkit-transition-duration:.25s;-webkit-transition-property:0 0 box-shadow;background:#81BC2E linear-gradient(top,#81BC2E0%,#659C28100%);border-bottom:none;border-radius:.25em;box-shadow:0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.1);color:#FFF;display:block;font:14px/22px OpenSans-Reg, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;height:22px;letter-spacing:-.25px;margin-left:92px;margin-top:-18px;position:absolute;text-align:center;text-decoration:none;text-shadow:0 1px 0 rgba(0,0,0,0.25);transition-delay:0;transition-duration:.25s;transition-property:0 0 box-shadow;width:90px}
.button:active{-moz-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2), inset 0 12px 24px 6px rgba(0,0,0,0.2), inset 0 0 2px 2px rgba(0,0,0,0.2);-moz-transition-delay:0;-moz-transition-duration:.25s;-moz-transition-property:0 0 box-shadow;-webkit-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2), inset 0 12px 24px 6px rgba(0,0,0,0.2), inset 0 0 2px 2px rgba(0,0,0,0.2);-webkit-transition-delay:0;-webkit-transition-duration:.25s;-webkit-transition-property:0 0 box-shadow;box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2), inset 0 12px 24px 6px rgba(0,0,0,0.2), inset 0 0 2px 2px rgba(0,0,0,0.2);text-decoration:none;transition-delay:0;transition-duration:.25s;transition-property:0 0 box-shadow}
.button:hover{-moz-box-shadow:0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.2), inset 0 12px 24px 2px rgba(124,211,30,1);-moz-transition-delay:0;-moz-transition-duration:.25s;-moz-transition-property:0 0 box-shadow;-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.2), inset 0 12 px 24px 2px rgba(124,211,30,1);-webkit-transition-delay:0;-webkit-transition-duration:.25s;-webkit-transition-property:0 0 box-shadow;box-shadow:0 2px 0 0 rgba(0,0,0,0.1), inset 0 -2px 0 0 rgba(0,0,0,0.2), inset 0 12px 24px 2px rgba(124,211,30,1);text-decoration:none;transition-delay:0;transition-duration:.25s;transition-property:0 0 box-shadow}
.clear{clear:both}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;visibility:hidden}
.huge{font-size:108px;letter-spacing:-4px;line-height:100%}
.huge,.large,h1,h2,h3,h4,h6{font-family:OpenSans, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;font-weight:400;text-shadow:0 1px 0 rgba(255,255,255,0.75)}
.iframestyle{border-width:0; margin-top:20px}
.impressum{margin-top:-5px; margin-left:162px; color:rgb(72,72,72)}
.impressumb{color:rgb(72,72,72); background: rgba(255,255,255,0.8); border:1px solid rgb(214,214,214); border-radius:0.25em; box-shadow:0px 2px 4px rgba(0,0,0,0.1); padding:4px}
.impressumc{color:rgb(72,72,72)}
.intro{float:left;width:344px}
.intro2{width:700px; margin-top:22px; color:rgb(51,51,51)}
.large{font-size:72px;letter-spacing:-3px;line-height:100%}
.lust{font-weight:300; font-family:'Open Sans Light',sans-serif; margin-top:132px; font-size:22px}
.ml3{margin-left:-3px}
.oops{margin-left:174px; margin-top:-138px;}
.pic{color:#FFF;font-family:"Open Sans",sans-serif;font-size:23px;font-weight:400;line-height:110%;margin:102px 20px 190px 625px;position:absolute;text-decoration:none;text-shadow:0 1px 0 rgba(72,72,72,0.75);width:375px}
.picex{width:58px; height:58px; padding:0px}
.programm2{margin-left:24px}
.programm3{margin-top:40px}
.programm4{margin-left:84px}
.programm5{margin-top:34px}
.programm6{margin-top:60px}
.programm7{margin-top:76px}
.programm8{margin-top:44px}
.programm9{margin-top:-12px}
.programm10{margin-top:-1754px}
.programm11{margin-top:328px}
.programme{font-weight:300; font-family:'Open Sans Light',sans-serif; margin-top:-6px; font-size:22px; color:rgb(175,50,50)}
.projects-block{float:left;margin-bottom:24px;margin-left:0;width:620px}
.projects-block a.button:hover,div#mitmachenul a.button:hover,div.hilfe a.button:hover{cursor:default;text-decoration:none}
.projects-block h2{float:left;margin-bottom:24px;margin-left:0;width:252px}
.projects-block h3 a{clear:left;color:#af3232;float:left;font-family:"Open Sans Light",sans-serif;font-size:24px;font-weight:300;margin-left:0;padding-top:18px;text-decoration:none;width:252px}
.projects-block h3 img,div#mitmachenul h3 img,div.hilfe h3 img{-moz-border-radius:.25em;-moz-box-shadow:0 2px 4px rgba(0,0,0,0.1);-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.1);background:#fff;border:1px solid #d6d6d6;border-radius:.25em;box-shadow:0 2px 4px rgba(0,0,0,0.1);float:left;height:50px;margin:-18px 24px 24px 0;padding:8px;width:50px}
.projects-block h3 span,div#mitmachenul h3 span,div.hilfe h3 span{display:block;font-size:18px;letter-spacing:normal}
.projects-block li{border-top:1px dotted #d6d6d6;list-style-type:none;margin:0 0 24px;padding-top:24px;zoom:1px}
.projects-block li.more,div#mitmachenul li.more,div.hilfe li.more{border:0;padding-top:0}
.projects-block p,div#mitmachenul p,div.hilfe p{margin-top:6px}
.projects-block p.more{margin-left:0;width:auto}
.projekte{margin-top:-22px; color:rgb(51,51,51); margin-left:260px; width:424px}
.small,small{font-size:12px;line-height:100%}
.text{margin-top:-26px}
.topnull{top:0px}
.top16{top:16px}
.underline{text-decoration:underline}
:first-child+html .clearfix{min-height:0}
@font-face{font-family:OpenSans-Reg;src:url(OpenSans-Regular.ttf) format(truetype)}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{border-top:2px solid #fff;min-width:1024px}
div.hilfe a{text-decoration:none}
div.hilfe li{border-top:1px dotted #d6d6d6;list-style-type:none;margin:0 0 92px;padding-top:24px;width:200px;zoom:1px}
div#mitmachenul a{color:#af3232;text-decoration:none}
div#mitmachenul h2{float:left;margin-bottom:24px;margin-left:0;width:152px}
div#mitmachenul h3 a,div.hilfe h3 a{clear:left;color:#af3232;float:left;font-family:"Open Sans Light",sans-serif;font-size:24px;font-weight:300;height:92px;margin-left:0;padding-top:18px;text-decoration:none;width:252px}
div#mitmachenul li{border-top:1px dotted #d6d6d6;list-style-type:none;margin:0 0 24px;padding-top:24px;width:700px;zoom:1px}
ul#planet{padding:0 0 0 5px}
ul#planet a.post{color:#af3232;font-family:"Open Sans Light",sans-serif;font-weight:300;text-decoration:none}
ul#planet div{color:#888;font-style:italic;margin:0 50px 0 0}
ul#planet div a.author{color:#888}
ul#planet img{border:1px solid #d6d6d6;border-radius:.25em;margin-left:-60px;margin-top:4px;position:absolute}
ul#planet li{border-top:1px dotted #d6d6d6;list-style-type:none;margin:0 0 8px;padding-top:8px;zoom:1px}
ul#planet ul,.projects-block ul,div#mitmachenul ul,div.hilfe ul{clear:left;color:#333;zoom:1px}
dl.planetlink,p.planetlink,p.planetlink a,ul#kontakt a{color:#af3232;font-family:"Open Sans Light",sans-serif;font-weight:300;text-align:right;text-decoration:none}
footer{background:#fff;color:#666;font-size:.875em;line-height:1.285;margin:1em 0 0;padding:34px 0;width:100%}
footer a{color:color:rgb(175,50,50)}
footer a img{margin-left:64px;margin-top:-22px}
footer a:hover{color:#20679e}
footer p{margin-left:400px}
h1{color:#484848;font-size:108px;letter-spacing:-4px;line-height:100%;margin-top:30px}
h2{color:#484848;font-size:48px;letter-spacing:-2px;line-height:100%}
h2.oops{color:#484848;font-size:48px;letter-spacing:-2px;line-height:100%;top:0}
h3{color:#484848;font-size:28px;letter-spacing:-.5px;line-height:100%}
h4{font-size:24px;letter-spacing:-.25px;line-height:100%}
h6{color:#484848;font-size:56px;letter-spacing:-2px;line-height:100%;margin-left:-6px}
header{-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.05), 0 2px 1px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05), 0 0 12px 0 rgba(0,0,0,0.05), inset 0 0 48px 0 rgba(255,255,255,1), inset 0 -2px 0 0 rgba(0,0,0,0.05);-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.05), 0 2px 1px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05), 0 0 12px 0 rgba(0,0,0,0.05), inset 0 0 48px 0 rgba(255,255,255,1), inset 0 -2px 0 0 rgba(0,0,0,0.05);background:#FFF url(wallpaper.png) repeat-x top center;box-shadow:0 1px 2px 0 rgba(0,0,0,0.05), 0 2px 1px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05), 0 0 12px 0 rgba(0,0,0,0.05), inset 0 0 48px 0 rgba(255,255,255,1), inset 0 -2px 0 0 rgba(0,0,0,0.05);font-size:14pt;margin:35px auto;min-height:72px;min-width:1000px;text-align:center}
header a{color:#af3232}
header a:hover,footer a:visited{color:#643232}
header a:visited{color:#961919}
img#team{-moz-box-shadow:0 1px 2px 0 rgba(0,0,0,0.05), 0 2px 1px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05), 0 0 12px 0 rgba(0,0,0,0.05), inset 0 0 48px 0 rgba(255,255,255,1), inset 0 -2px 0 0 rgba(0,0,0,0.05);-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.05), 0 2px 1px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05), 0 0 12px 0 rgba(0,0,0,0.05), inset 0 0 48px 0 rgba(255,255,255,1), inset 0 -2px 0 0 rgba(0,0,0,0.05);border:8px solid #FFF;box-shadow:0 1px 2px 0 rgba(0,0,0,0.05), 0 2px 1px 0 rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05), 0 0 12px 0 rgba(0,0,0,0.05), inset 0 0 48px 0 rgba(255,255,255,1), inset 0 -2px 0 0 rgba(0,0,0,0.05);width:96%}
p.moeg{color:#888;font-style:italic}
p#photo{color:#646464;width:516px}
p.planetlink.visited,ul#kontakt.visited{color:#af1414}
p#uebertext{color:#333;margin-top:8px;width:512px}
ul#kontakt{color:#333;margin-top:24px;width:512px}
ul#kontakt li{border-top:1px dotted #d6d6d6;list-style-type:none;margin:0 0 8px;padding-top:6px}
ul.mitmachen{margin:30px 0}
table.t1 {border-collapse: collapse;}
td.td1 {height: 15.0px; padding: 0.0px 5.0px 0.0px 5.0px}
td.td2 {padding: 0.0px 72.0px 0.0px 5.0px}